<div class="ctarea" data-aos="zoom-in-left">
    <div class="container">
        <div class="row height-350 align-items-center">
            <div class="col-lg-9">
                <div class="cta-text">
                    <h2>Keep Shining your Sofa and Furniture</h2>
                    <h2>Book now Today</h2>
                    <h6 class="text-white"> Engage our expert cleaning services to keep your sofa & Furniture gleaming with pristine glow.</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <a class="default-button" href="{% url 'contact' %}"><span>Book Now</span></a>
            </div>
        </div>
    </div>
</div>