<!DOCTYPE html>
<html lang="zxx" class="theme-light">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cleaning Services Company</title>

<link rel="stylesheet" href="assets/css/animate.min.css">
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/fontawsome.min.css">
<link rel="stylesheet" href="assets/css/flaticon.css">
<link rel="stylesheet" href="assets/css/meanmenu.min.css">
<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="assets/css/nice-select.min.css">
<link rel="stylesheet" href="assets/css/barfiller.css">
<link rel="stylesheet" href="assets/css/magnific-popup.css">
<link rel="stylesheet" href="assets/css/odometer.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/dark-mode.css">
<link rel="stylesheet" href="assets/css/responsive.css">


<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link rel="icon" type="image/png" href="assets/images/fav-icon.png">
</head>

<body>

    <div class="topbar" data-aos="fade-right">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="topbar-left-side">
                        <ul>
                            <li><i class="fas fa-phone-alt"></i> <a href="tel:0800867567">0800867567</a></li>
                            <li><i class="fas fa-clock"></i> Mon To Fri 9:00am To 6:00pm</li>
                            <li><i class="fas fa-envelope"></i><a
                                    href="mailto:Info@cleanercouch.co.nz">Info@cleanercouch.co.nz </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="header-area">
        <div class="navbar-area" data-aos="fade-left">

            <div class="main-responsive-nav">
                <div class="container">
                    <div class="mobile-nav">
                        <a href="index.html" class="logo">
                            <img class="black-logo" src="assets/images/logo.png" alt="logo" />
                            <img class="white-logo" src="assets/images/white-logo.png" alt="logo" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="main-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <img class="black-logo" src="assets/images/logo.png" alt="logo" />
                            <img class="white-logo" src="assets/images/white-logo.png" alt="logo" />
                        </a>
                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item plus-icon">
                                <li class="nav-item"><a href="index.html" class="nav-link">Home </a></li>
                                <li class="nav-item"><a href="about-us.html" class="nav-link">About Us</a></li>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">Services <i
                                            class="fas fa-angle-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                        <li><a href="service-details.html" class="nav-link dropdown-toggle">Sofa
                                                cleaning</a></li>
                                        <li><a href="service-details.html" class="nav-link dropdown-toggle">Recliner
                                                Armchaire </a></li>
                                        <li><a href="service-details.html" class="dropdown-toggle">Leather Sofa
                                                Cleaning</a></li>
                                        <li><a href="service-details.html" class="nav-link dropdown-toggle">Lounge Suite
                                                Cleaning</a></li>
                                        <li><a href="service-details.html" class="nav-link dropdown-toggle">Fabric
                                                Protection</a></li>
                                </li>
                            </ul>
                            </li>
                            <li class="nav-item"><a href="gallery.html" class="nav-link">Gallary</a></li>
                            <li class="nav-item"><a href="franchise.html" class="nav-link">franchise</a></li>
                            <li class="nav-item"><a href="contact.html" class="nav-link">Contact Us</a></li>
                            </ul>
                            <div class="menu-sidebar menu-sidebar-1">
                                <ul>
                                    <li><a class="default-button" href="contact.html"><span>Get Quote</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="uni-banner">
        <div class="container">
            <div class="uni-banner-text">
                <h1>Privacy Policy</h1>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="terms ptb-100">
        <div class="container">
            <h6>Overview</h6>
            <p>We may collect personal identification information from Users in a variety of ways, including, but not
                limited to, when Users visit our site, subscribe to the newsletter, fill out a form, and in connection
                with other activities, services, features or <a href="index.html">resources</a> we make available on our
                Site. Users may be asked for, as appropriate, name, email address, mailing address, phone number,
                company name. We will collect personal <strong>identification</strong> information from Users only if
                they voluntarily consent such information to us. Users can always refuse to supply personally
                identification information, except that it may prevent them from engaging in certain Site related
                activities.</p>
            <h5>General Permission To Use And Access And Use Limitations</h5>
            <p>This site is provided by <strong>Anwa</strong>. <strong>Anwa</strong> collects information in several
                ways from different parts of this site.</p>
            <ul>
                <li><span>1.</span> Complimentary ground shipping within 1 to 7 business days.</li>
                <li><span>2.</span> In-store collection available within 1 to 7 business days.</li>
                <li><span>3.</span> Next-day and Express delivery options also available.</li>
                <li><span>4.</span> See the delivery FAQs for details on shipping methods, costs and delivery times</li>
            </ul>
            <h4>Confidential Information</h4>
            <p><strong>Anwa</Strong> accepts the following payment methods:</p>
            <ul class="payment">
                <li>Credit Card: <strong>Visa</strong>, <strong>MasterCard</strong>, <strong>Discover</strong>,
                    <strong>American Express</strong>. The total will be charged to your card when the order is shipped.
                </li>
                <li><strong>Anwa</strong> features a Fast Checkout option, allowing you to securely save your credit
                    card details so that you don't have to re-enter them for future purchases.</li>
            </ul>
            <h3>Linking To This Site</h3>
            <p>Items returned within 14 days of their original shipment date in same as new condition will be eligible
                for a full refund or store credit. Refunds will be charged back form of payment used for purchase.
                Customer is responsible for shipping charges when making returns and shipping/handling fees of original
                purchase is non-refundable.</p>
            <h2>Intellectual Property</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget euismod erat, sit amet vulputate
                enim. Etiam enim tellus, maximus vel augue sed, pharetra hendrerit orci. Vivamus sed massa in nibh
                imperdiet mattis quis sed augue. Pellentesque erat metus, vestibulum nec nisl.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget euismod erat, sit amet vulputate
                enim. Etiam enim tellus.</p>
            <h1>Security And Storage</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget euismod erat, sit amet vulputate
                enim. Etiam enim tellus.</p>
            <ul>
                <li><span>1.</span> Credit Card: <strong>Visa</strong>, <strong>MasterCard</strong>,
                    <strong>Discover</strong>, <strong>American Express</strong>. The total will be charged to your card
                    when the order is shipped.</li>
                <li><span>2.</span> <strong>Anwa</strong> features a Fast Checkout option, allowing you to securely save
                    your credit card details so that you don't have to re-enter them for future purchases.</li>
            </ul>
        </div>
    </div>


    <div class="newsletter newsletter-1">
        <div class="container">
            <div class="newsletter-content-area">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="default-section-title">
                            <h6>YOUR CLEANING COST</h6>
                            <h3>Calculate</h3>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                        <form>
                            <div class="row align-items-center justify-content-center">
                                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                    <div class="news-input-card">
                                        <input type="text" class="form-control" placeholder="Your Email">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                    <div class="news-input-card">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected disabled>Square Meters </option>
                                            <option value="1">Below 500sqm</option>
                                            <option value="2">500 to 1000sqm</option>
                                            <option value="3">1000+ sqm</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                    <div class="news-input-card">
                                        <button class="default-button"><span>Calculate</span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer area start end -->
    <div class="footer footer-2 ptb-100 bg-000000">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-aos="zoom-in-up">
                    <div class="footer-logo-area">
                        <a href="index.html"><img src="assets/images/white-logo.png" alt="image"></a>
                        <p>With Cleaner Couch our vison is to provide quick, efficient cleaning services so you enjoy
                            deep cleaned fresh and healthier sofa for your home and business. Engage our expert cleaning
                            services to keep your Sofas & Furniture gleaming with pristine glow.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-aos="zoom-in-up">
                    <div class="footer-links footer-contact-list">
                        <h3>Get In Touch</h3>
                        <div class="footer-content-card">
                            <i class="fas fa-map-marker-alt"></i>
                            <h5>Location:</h5>
                            <p><a>New Lynn Auckland, New Zealand</a></p>
                        </div>
                        <div class="footer-content-card">
                            <i class="fas fa-envelope"></i>
                            <h5>Email:</h5>
                            <p><i class="far fa-envelope"></i><a
                                    href="mailto: Info@cleanercouch.co.nz">Info@cleanercouch.co.nz</a></p>
                        </div>
                        <div class="footer-content-card">
                            <i class="fas fa-mobile-alt"></i>
                            <h5>Phone:</h5>
                            <p><a href="tel:0800867567">0800867567</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-aos="zoom-in-up">
                    <div class="footer-links footer-quick-links">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a href="about-us.html" target="_blank"><i class="fas fa-angle-right"></i> <span>About
                                        Us</span></a></li>
                            <li><a href="services.html" target="_blank"><i class="fas fa-angle-right"></i>
                                    <span>Gallary</span></a></li>
                            <li><a href="gallery.html" target="_blank"><i class="fas fa-angle-right"></i>
                                    <span>franchise</span></a></li>
                            <li><a href="franchise.html" target="_blank"><i class="fas fa-angle-right"></i>
                                    <span>Contact us</span></a></li>
                            <li><a href="contact.html" target="_blank"><i class="fas fa-angle-right"></i> <span>Get
                                        Quote</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-aos="zoom-in-up">
                    <div class="footer-links footer-quick-links">
                        <h3>Our Services</h3>
                        <ul>
                            <li><a href="about-us.html" target="_blank"><i class="fas fa-angle-right"></i> <span>Sofa
                                        Cleaning</span></a></li>
                            <li><a href="services.html" target="_blank"><i class="fas fa-angle-right"></i>
                                    <span>Recliner Armchaire</span></a></li>
                            <li><a href="gallery.html" target="_blank"><i class="fas fa-angle-right"></i> <span>Leather
                                        Sofa Cleaning</span></a></li>
                            <li><a href="franchise.html" target="_blank"><i class="fas fa-angle-right"></i> <span>Lounge
                                        Suite Cleaning</span></a></li>
                            <li><a href="contact.html" target="_blank"><i class="fas fa-angle-right"></i> <span>Fabric
                                        Protection</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- Copywrite section start -->
    <div class="copyright bg-000000">
        <div class="container">
            <p>Copyright CleanerCouch 2023 ! Developerd By <a target="_blank" href="https://speedyweb.co.nz/">SpeedyWeb
                    Technologies </a></p>
        </div>
    </div>
    <!-- Copywrite section END -->



    <div class="go-top"><img src="assets/images/png/002-top.png" alt></div>


    <script src="assets/js/jquery.min.js"></script>

    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/meanmenu.js"></script>

    <script src="assets/js/owl.carousel.min.js"></script>

    <script src="assets/js/jquery.magnific-popup.min.js"></script>

    <script src="assets/js/jquery.nice-select.min.js"></script>

    <script src="assets/js/form-validator.min.js"></script>
    <script src="assets/js/contact-form-script.js"></script>
    <script src="assets/js/ajaxchimp.min.js"></script>

    <script src="assets/js/appear.min.js"></script>

    <script src="assets/js/TweenMax.js"></script>

    <script src="assets/js/odometer.min.js"></script>

    <script src="assets/js/jquery.barfiller.js"></script>

    <script src="assets/js/custom.js"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1000,
        })
    </script>
</body>

</html>